#race-table{
    border: solid 1px;
    text-align: center;
}

#race-table th {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,186,0.7917367630646008) 11%, rgba(0,212,255,1) 100%);
    text-align: center;
    
}

#race-table tr:nth-child(odd){
    background: lightyellow;
}

#race-table tr:nth-child(even){
    background: lightgreen;
}
/* 
#race-table tr:nth-child(n + 22){
    visibility:hidden;
} */

.clear {
    padding:20px;
    text-align: center;
}

#top {
    text-align: center;
}

#title{
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    font-style: italic;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
}

.ct-nav{
    display:flex;
    justify-content: center;

}

.ct-nav img{
    width:25%;
    max-width: 30%;
    margin-left: 2vw;

}

ul#horizontal-list{
    min-width: 100vh;
    max-width:200vh;
    list-style: none;
    padding-top: 2%;

}

ul#horizontal-list li, ul#horizontal-list a{
    display:inline;
    text-decoration: none;
    padding: 0.5vw;
    color:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(16,16,186,0.7917367630646008) 11%, rgba(0,212,255,1) 100%);
    font-weight: bold;

}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid blue;
    border-radius: 11px;
    margin-right: 0.2vw;
}

#submit-button {
    background-color: lightseagreen;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 60%;
    margin-left:2%;
}

.info{
    background-color: lightgoldenrodyellow;

}

#round-text{
    margin-left:5px;
}

#clear-button{
    display:inline-block;
    width: 120px;
}

#car-logo{

}